h1{
  margin: 20px 0;
  color: #14213d;
  max-width: 940px;
  font-size: 2.5em;  
  font-weight: 700;
  line-height: 1.1;


}

h2 {
  margin: 25px 0 10px 0;
  color: #fca311;
  max-width: 940px;
  font-size: 1.5em;  
  font-weight: 700;
  line-height: 1.1;
}

