h1{
  margin: 20px 0;
  color: rgb(33, 33, 148);
  max-width: 940px;
  font-size: 2.5em;  
  font-weight: 700;
  line-height: 1.1;


}

h2 {
  margin: 25px 0 10px 0;
  color: rgb(214, 108, 27);
  max-width: 940px;
  font-size: 1.5em;  
  font-weight: 700;
  line-height: 1.1;
}

